# FIX GAP #13: Auto-provisions Prometheus as the default Grafana datasource.
# Without this file, Grafana starts completely empty and engineers must
# manually add the datasource every time the container is recreated.

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false